.auth-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:25px;

}

.auth-header{

    text-align:center;

    margin-bottom:35px;

}

.auth-header h1{

    margin-bottom:12px;

}

.auth-header p{

    font-size:17px;

}

.auth-form{

    display:flex;

    flex-direction:column;

    gap:22px;

}

.auth-links{

    margin-top:25px;

    text-align:center;

}

.auth-links p{

    font-size:16px;

}

.auth-links a{

    color:var(--primary-dark);

    font-weight:700;

}

/* ===========================
   Mobile
=========================== */

@media (max-width:768px){

    .auth-page{

        padding:15px;

        align-items:flex-start;

        padding-top:40px;

    }

    .glass-card{

        width:100%;

        max-width:420px;

        padding:28px 20px;

        border-radius:25px;

    }

    .auth-header h1{

        font-size:34px;

    }

    .auth-header p{

        font-size:15px;

    }

    .custom-input{

        height:54px;

        font-size:15px;

        padding:0 48px;

    }

    .primary-btn{

        height:54px;

        font-size:16px;

    }

}